* {
    box-sizing: border-box; }
  
  body {
    background: #222222;
    padding-bottom: 56px; }
  
  #main {
    padding-left: 0; 
  }

  #campuseslist {
    display: flex;
    align-items: stretch;
  }

  #allcampuses {
    height: 300px;
  }

  .home-main {
    padding: 50px;
  }