* {
    box-sizing: border-box; }
  
  body {
    background: #222222;
    padding-bottom: 100%; 
  }
  
  #main {
    padding-left: 0;
  }

  #footer {
    height: 150px;
    display: flex;
  }

  .footers{
    align-self: flex-end;
  }

  #campuseslist {
    display: flex;
    align-items: stretch;
  }

  #allcampuses {
    height: 300px;
  }

  .home-main {
    padding: 50px;
  }